#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#auditLegend AUDIT
			#marbleIdWrap 
				span IP Address
				div#marbleId -
			span.ball.largeMarble.bluebg.auditMarble

		.txHistoryWrap
			.auditHint Click an IP Address to Audit Its Transactions